<table>
	<thead>
		<th>ID</th>
		<th>Long URL</th>
		<th>Short URL</th>
	</thead>
	<tbody>
		<% @links.each do |link| %>
			<tr>
				<td><%= link_to link.id, "/links/#{link.id}" %></td>
				<td><%= link_to link.long_url, link.long_url, target: :_blank %></td>
				<td><%= link_to "https://pacific-shelf-87577.herokuapp.com/#{link.short_url}", "https://pacific-shelf-87577.herokuapp.com/#{link.short_url}", target: :_blank  %></td>
			</tr>
		<%end%>
	</tbody>
</table>



